.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 4px 12px;
  cursor: pointer;
  background-color: grey;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 3px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
