.logo {
  height: 32px;
  background: rgba(245, 6, 62, 0.89);
  margin: 16px;
}

.layoutHeader {
  position: fixed;
  top: 0;
  left: 80px;
  z-index: 100;
  width: 100%;
  padding: 0 80px 0 0;
  background: #ffffff;
  box-shadow: 1px 6px 6px 0 rgba(0, 0, 0, 0.85);
  transition: all 0.2s;
}

.layoutBody {
  transition: all 0.2s;
}

.layoutSider {
  position: fixed;
  height: 100vh;
  left: 0;
  overflow: auto;
}

.layoutContent {
  margin-top: 64px;
  padding: 24px;
  min-height: 100px;
  height: 100%;
  background: #ffffff;
}

.layoutFooter {
  text-align: center;
}
